@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0a192f;
    --foreground: #64ffda;
    --card: #ffffff;
    --card-foreground: #090a0c;
    --popover: #ffffff;
    --popover-foreground: #090a0c;
    --primary: #191a1d;
    --primary-foreground: #fafafa;
    --secondary: #f3f3f4;
    --secondary-foreground: #191a1d;
    --muted: #f3f3f4;
    --muted-foreground: #737378;
    --accent: #f3f3f4;
    --accent-foreground: #191a1d;
    --destructive: #f04141;
    --destructive-foreground: #fafafa;
    --border: #e4e4e6;
    --input: #e4e4e6;
    --ring: #090a0c;
    --chart-1: #e85d45;
    --chart-2: #297e7e;
    --chart-3: #264854;
    --chart-4: #e8c845;
    --chart-5: #f8884a;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a192f;
    --foreground: #fafafa;
    --card: #090a0c;
    --card-foreground: #fafafa;
    --popover: #090a0c;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #191a1d;
    --secondary: #24262b;
    --secondary-foreground: #fafafa;
    --muted: #24262b;
    --muted-foreground: #a1a1a6;
    --accent: #24262b;
    --accent-foreground: #fafafa;
    --destructive: #8b1d1d;
    --destructive-foreground: #fafafa;
    --border: #24262b;
    --input: #24262b;
    --ring: #d3d3d8;
    --chart-1: #2673e8;
    --chart-2: #29b38c;
    --chart-3: #f1a335;
    --chart-4: #b54be8;
    --chart-5: #e83d6f;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-screen;
  }
}
